.container{
    background-color: #E8E4E0;
    padding-bottom: 40px;
   
}
.company_info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.descr{
    width: 800px;
}
.advantages{

    &_li{
        text-align: start;
    }
}